* {
	margin: 0;
	padding: 0;
}
.header {
	padding: 48px 62px 48px 188px;
	background-color: grey;
}
.navigation-link, .phone {
	margin-right: 40px;
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
.navigation-link:hover {
	color: #FF6C00;
}
.reserve {
	border: 1px solid #FF6C00;
		border-radius: 25px;
		background-color: transparent;
		padding: 10px 20px;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;
		color: #fff;
}
.container {
	width: 1140;
	margin: 0 auto;
}
.social {
	margin-right: 30px;
}
.hero-container {
	background-image: url("../img/backfon/BarberFon.jpg");
   padding: 270px 0px 205px 96px;
	background-repeat: no-repeat;
	background-size: cover;
}
.intro {
	   font-family: 'Open Sans';
		font-weight: 600;
		font-size: 11px;
		text-transform: uppercase;
		margin-bottom: 20px;
}
.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 72px;
	color: #FFFFFF;
	margin-bottom: 20px;	
			
}
.hero-destriction {
	font-family: 'Open Sans';
		font-weight: 400;
		font-size: 18px;
		color: #9DA4BD;
		width: 400px;
}
